<div id="login_wrapper" class="" style="display:none;">
	<div id="login-box" style="/*display: none;">
		<div id="login-register-switch"><!--
			--><div id="login-o-b" class="lr-o-d-self selected">
				login
			</div><!--
			--><div id="register-o-b" class="lr-o-d-self ">
				register
			</div>
		</div>
		<div>
			<div id="login-con" class="l-content" style="display:none;">
				<p class="callback-info"></p>
				<form method="" action="" name="logi" autocomplete="off">
					<div class="input-container">
						<span class="input-icon -user"></span>
						<input type="text" id="" name="Uusername" class="login-but" placeholder="username or email" autofocus />
					</div>
					<div class="input-container">
						<span class="input-icon -password"></span>
						<input type="password" id="" name="Upassword" class="login-but" placeholder="password" />
					</div>
					<div class="input-container">
						<input type="submit" id="logibut" value="login" class="login-but" >
					</div>
					<span class="pwf">forgot password?</span>
				</form>
			</div>
			<div id="register-con" class="l-content" style="display:none;">
				hello
				<p class="callback-info"></p>
				<form method="" action="" name="regi">
					<div class="input-container">
						<span class="input-icon -user"></span>
						<input type="text" id="" name="Uname" class="login-but" placeholder="usermane" />
					</div>
					<div class="input-container">
						<span class="input-icon -mail"></span>
						<input type="text" id="" name="Umail" class="login-but" placeholder="email" />
					</div>
					<div class="input-container">
						<span class="input-icon -password"></span>
						<input type="password" id="" name="Upass" class="login-but" placeholder="password" />
					</div>
					<div class="input-container">
						<input type="submit" id="regibut" value="register" class="login-but" >
					</div>
				</form>
			</div>
				<div class="loading-wr" style="display: none; width: 100%; height: 100%; text-align: center; line-height: 300px;">
					<img src="files/loading.gif" />
				</div>
		</div>
	</div>
</div>