<!DOCTYPE html>
<html>
<head>
<meta name="viewport" content="width=320">
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
<title></title>
<link rel="stylesheet" type="text/css" href="templates/style.css" media="all">
<style type="text/css">
#login_wrapper {
    display: block !important;
    background: none;
    cursor: inherit;
    z-index: -190 !important;
}
#login-box, #login-con {
    display: block !important;
}
</style>
<script src="../../others/JavaScript/jQuery/jquery-1.11.2.js"></script>
<script src="files/js.js"></script>
<body>
<?php include '_header.html'; ?>
<div id="container">
    <h2 class="sim-tit vid-tit">login</h2>
    <?php include 'login_wrapper.html';?>
</div>
<?php include '_footer.html'; ?>
</body>
</html>
